body{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
}
h1{
    font-size: 2.0em;
    line-height: 1.3em;

}
P{
    margin-bottom: 1.6em;
}
.container {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    left: 100%;
}
.header{
    background: #004669;
    color: white;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
    .header a {
        color: white;
        text-decoration: none;
    }

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    margin: 0%;
    padding: 0;
    list-style: none;   
}
 .navigation ul li{
      display: inline-block;  
  }
    .navigation ul li a{
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear; 
        border-radius: 5px;
     }
     .navigation ul li a:hover {
         background: #ccc;
     }
.main{
padding: 12rem;
}